.shopping{
    border:  1px solid black;
    height: 150px;
    width: 100%;
    background-color: teal;
}
a{
    margin-left: 70px;
    margin-top: 20px;
    font-size: x-large;
    color:white;
    
}

.bodypart{
    border:  1px solid black;
    height: 600px;
    width: 100%;
}
.footer{
    border:  1px solid black;
    height: 100px;
    width: 100%;
}
#logo2{
    
    height:90px ;
    width: 170px;
    margin-left: 10px;
}
#logo{
    margin-top: 25px;
    height:100px ;
    width: 100px;
    
}
.footer{
    background-color: teal;
    padding-left: 20px;
    padding-top: 20px;
}

